{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <title>{% block title %} Главная {% endblock %} - Design.pro </title>
</head>
<body>
<div class="container-fluid">
   <div class="">
       <h5 class="">Design.pro</h5>
       {% if user.is_authenticated %}
       <div class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Профиль</a> | <a class="text-dark" href="{% url 'logout' %}">Выйти</a>
       </div>
       {% else %}
       <a class="text-dark" href="{% url 'register' %}">Регистрация</a> | <a class="text-dark" href="{% url 'login' %}">Вход</a>

       {% endif %}
   </div>
   <div class="row">
       <nav class="">
           <a class="root" href="{% url 'index' %}">Главная</a>
           <a class="dropdown-item" href="#">Мои объявления</a>
       </nav>

       <div class="container">
       {% block content %}
       {% endblock %}
       </div>

   </div>

</div>

</body>
</html>
