<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
   <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
   <title>{% block title %} Главная {% endblock %} - Design.pro </title>
</head>
<body>
<div class="header">
   <div class="container">
       <div class="header_inner">
           <h3 class="header_title">Design.pro</h3>
           {% if user.is_authenticated %}
           <nav class="header_nav">
               <a class="header_aa" href="{% url 'index' %}">Главная</a>
               <a class="header_aa" href="{% url 'profile' %}">Мой профиль</a>
               {% if user.is_authenticated != request.user.is_superuser %}
               <a class="header_aa" href="{% url 'requests' %}">Добавить заявку</a>
               {% endif %}
               {%if request.user.is_superuser %} <a class="header_aa" href="{% url 'category_list' %}"> Категории</a> {%endif%}
           </nav>
           <a class="header_a" href="{% url 'logout' %}">Выйти</a>
           {% else %}
           <a class="header_a" href="{% url 'index' %}">Главная</a>
            <nav class="header_nav">
                <a class="header_a" href="{% url 'register' %}">Регистрация</a>|<a class="header_a" href="{% url 'login' %}">Вход</a>
           </nav>
           {% endif %}
       </div>
   </div>
</div>
<div class="content">
   <div class="container_content">
   {% block content %}
   {% endblock %}
   </div>
</div>

</body>
</html>
